form(method="POST")
    p
        input(name="username",placeholder="Username",value=username || "")
    p
        input(name="password",placeholder="Password")
    button Login
if error
    p #{error.message}